<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.xhc.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="org.example.xhc.entity.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createDate" />
    <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
    <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
    <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
    <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
    <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="growth" jdbcType="INTEGER" property="growth" />
    <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="bill_header" jdbcType="VARCHAR" property="billHeader" />
    <result column="bill_content" jdbcType="VARCHAR" property="billContent" />
    <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone" />
    <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail" />
    <result column="receiver_name" jdbcType="VARCHAR" property="rcvName" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="rcvPhone" />
    <result column="receiver_post_code" jdbcType="VARCHAR" property="rcvPostCode" />
    <result column="receiver_province" jdbcType="VARCHAR" property="rcvProvince" />
    <result column="receiver_city" jdbcType="VARCHAR" property="rcvCity" />
    <result column="receiver_region" jdbcType="VARCHAR" property="rcvRegion" />
    <result column="receiver_detail_address" jdbcType="VARCHAR" property="rcvDetailAddress" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="use_integration" jdbcType="INTEGER" property="useIntegration" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.example.xhc.entity.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order (member_id, coupon_id, order_sn, 
      create_time, member_username, total_amount, 
      pay_amount, freight_amount, promotion_amount, 
      integration_amount, coupon_amount, discount_amount, 
      pay_type, source_type, status, 
      order_type, delivery_company, delivery_sn, 
      auto_confirm_day, integration, growth, 
      promotion_info, bill_type, bill_header, 
      bill_content, bill_receiver_phone, bill_receiver_email, 
      receiver_name, receiver_phone, receiver_post_code, 
      receiver_province, receiver_city, receiver_region, 
      receiver_detail_address, note, confirm_status, 
      delete_status, use_integration, payment_time, 
      delivery_time, receive_time, comment_time
      )
    values (#{memberId,jdbcType=BIGINT}, #{couponId,jdbcType=BIGINT}, #{orderSn,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{memberUsername,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{freightAmount,jdbcType=DECIMAL}, #{promotionAmount,jdbcType=DECIMAL}, 
      #{integrationAmount,jdbcType=DECIMAL}, #{couponAmount,jdbcType=DECIMAL}, #{discountAmount,jdbcType=DECIMAL}, 
      #{payType,jdbcType=INTEGER}, #{sourceType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{orderType,jdbcType=INTEGER}, #{deliveryCompany,jdbcType=VARCHAR}, #{deliverySn,jdbcType=VARCHAR}, 
      #{autoConfirmDay,jdbcType=INTEGER}, #{integration,jdbcType=INTEGER}, #{growth,jdbcType=INTEGER}, 
      #{promotionInfo,jdbcType=VARCHAR}, #{billType,jdbcType=INTEGER}, #{billHeader,jdbcType=VARCHAR}, 
      #{billContent,jdbcType=VARCHAR}, #{billReceiverPhone,jdbcType=VARCHAR}, #{billReceiverEmail,jdbcType=VARCHAR}, 
      #{rcvName,jdbcType=VARCHAR}, #{rcvPhone,jdbcType=VARCHAR}, #{rcvPostCode,jdbcType=VARCHAR}, 
      #{rcvProvince,jdbcType=VARCHAR}, #{rcvCity,jdbcType=VARCHAR}, #{rcvRegion,jdbcType=VARCHAR}, 
      #{rcvDetailAddress,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{confirmStatus,jdbcType=INTEGER}, 
      #{deleteStatus,jdbcType=INTEGER}, #{useIntegration,jdbcType=INTEGER}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, #{commentTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.example.xhc.entity.Order">
    update oms_order
    set member_id = #{memberId,jdbcType=BIGINT},
      coupon_id = #{couponId,jdbcType=BIGINT},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      create_time = #{createDate,jdbcType=TIMESTAMP},
      member_username = #{memberUsername,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      freight_amount = #{freightAmount,jdbcType=DECIMAL},
      promotion_amount = #{promotionAmount,jdbcType=DECIMAL},
      integration_amount = #{integrationAmount,jdbcType=DECIMAL},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=INTEGER},
      source_type = #{sourceType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=INTEGER},
      delivery_company = #{deliveryCompany,jdbcType=VARCHAR},
      delivery_sn = #{deliverySn,jdbcType=VARCHAR},
      auto_confirm_day = #{autoConfirmDay,jdbcType=INTEGER},
      integration = #{integration,jdbcType=INTEGER},
      growth = #{growth,jdbcType=INTEGER},
      promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=INTEGER},
      bill_header = #{billHeader,jdbcType=VARCHAR},
      bill_content = #{billContent,jdbcType=VARCHAR},
      bill_receiver_phone = #{billReceiverPhone,jdbcType=VARCHAR},
      bill_receiver_email = #{billReceiverEmail,jdbcType=VARCHAR},
      receiver_name = #{rcvName,jdbcType=VARCHAR},
      receiver_phone = #{rcvPhone,jdbcType=VARCHAR},
      receiver_post_code = #{rcvPostCode,jdbcType=VARCHAR},
      receiver_province = #{rcvProvince,jdbcType=VARCHAR},
      receiver_city = #{rcvCity,jdbcType=VARCHAR},
      receiver_region = #{rcvRegion,jdbcType=VARCHAR},
      receiver_detail_address = #{rcvDetailAddress,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      confirm_status = #{confirmStatus,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      use_integration = #{useIntegration,jdbcType=INTEGER},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, member_id, coupon_id, order_sn, create_time, member_username, total_amount, 
    pay_amount, freight_amount, promotion_amount, integration_amount, coupon_amount, 
    discount_amount, pay_type, source_type, status, order_type, delivery_company, delivery_sn, 
    auto_confirm_day, integration, growth, promotion_info, bill_type, bill_header, bill_content, 
    bill_receiver_phone, bill_receiver_email, receiver_name, receiver_phone, receiver_post_code, 
    receiver_province, receiver_city, receiver_region, receiver_detail_address, note, 
    confirm_status, delete_status, use_integration, payment_time, delivery_time, receive_time, 
    comment_time
    from oms_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, coupon_id, order_sn, create_time, member_username, total_amount, 
    pay_amount, freight_amount, promotion_amount, integration_amount, coupon_amount, 
    discount_amount, pay_type, source_type, status, order_type, delivery_company, delivery_sn, 
    auto_confirm_day, integration, growth, promotion_info, bill_type, bill_header, bill_content, 
    bill_receiver_phone, bill_receiver_email, receiver_name, receiver_phone, receiver_post_code, 
    receiver_province, receiver_city, receiver_region, receiver_detail_address, note, 
    confirm_status, delete_status, use_integration, payment_time, delivery_time, receive_time, 
    comment_time
    from oms_order
  </select>
</mapper>